logs
*.log
npm-debug.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
.env
*.local
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.vercel
/public/robots.txt
/public/sitemap.xml
/public/sitemap-*.xml
/playwright-report/
/test-results/
.auth/
.next
*.tsbuildinfo
tsconfig.tsbuildinfo
