printWidth: 80
tabWidth: 2
useTabs: false
semi: false
singleQuote: true
quoteProps: 'consistent'
trailingComma: 'none'
bracketSpacing: true
bracketSameLine: false
arrowParens: 'avoid'
endOfLine: 'lf'
plugins:
  ['prettier-plugin-tailwindcss', '@trivago/prettier-plugin-sort-imports']
importOrderSortSpecifiers: true
