semi: false
singleQuote: true
printWidth: 80
trailingComma: 'none'
arrowParens: 'avoid'
plugins:
    ['prettier-plugin-tailwindcss', '@trivago/prettier-plugin-sort-imports']
importOrderSeparation: true
importOrderSortSpecifiers: true
